body {
  background-color: black;
  overflow: hidden;
  position: fixed;
}
h1, h2 {
  color: white;
  font-family: Ubuntu Mono;
}
#container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.button {
  position: absolute;
  border: 2px solid;
  margin: 0px;
  padding: 5px;
  font-family: Ubuntu Mono;
}
.button: nth-child(1) {
  background-color: red;
  top: 0px;
  left: 0px;    
}
.button:nth-child(2) {
  background-color: blue;
  top: 0px;
  right: 0px;
}
.button:nth-child(3) {
  background-color: yellow;
  bottom: 0px;
  left: 0px;
}
.button:nth-child(4) {
  background-color: green;
  bottom: 0px;
  right: 0px;
}
